<a routerLink="/post/{{ post?.id }}">
  <div class="col">
    <div
      class="
        card card-cover
        h-100
        overflow-hidden
        bg-search
        light-shadow
        rounded-5
      "
    >
      <div class="d-flex flex-column h-100 p-5 pb-3 text-gradient">
        <h2 class="card-title pt-5 mt-5 mb-4 display-6 fw-bold">
          {{ post.title | titlecase }}
        </h2>
        <ul class="d-flex list-unstyled mt-5">
          <li class="me-auto">
            <img
              src="../../../assets/images/user.png"
              alt="user"
              width="32"
              height="32"
              class="rounded-circle"
            />
          </li>
          <li class="d-flex align-items-center me-3">
            <i class="bi bi-person fs-2"></i>
            <small class="mx-1">{{ post?.userId }}</small>
          </li>
          <li class="d-flex align-items-center">
            <i class="bi bi-chat-quote fs-2"></i>
            <small class="mx-1">{{ post?.id }}</small>
          </li>
        </ul>
      </div>
    </div>
  </div>
</a>
