/**** FONTS ****/

@font-face {
  font-family: Alliance;
  src: url(assets/fonts/AllianceNo1-Regular.woff);
}

@font-face {
  font-family: Alliance;
  src: url(assets/fonts/AllianceNo1-ExtraBold.woff);
  font-weight: 800;
}

/**** ICONS ****/

@import '~bootstrap-icons/font/bootstrap-icons.css';

/**** COLORS ****/

/*Light mode */
[data-color-theme='light'] {
  --body-bg: #ffffff;
  --body-color: #333333;
  --body-card: #f7f7f7;
  --body-text-secondary: #6c757d;
}

/* Dark mode */
[data-color-theme='dark'] {
  --body-bg: #0f0f0f;
  --body-color: #ffffff;
  --body-card: #3a3a3a;
  --body-text-secondary: #bdbdbd;
}

$main-color: #198754;

/**** GENERAL ****/

body {
  font-family: Alliance, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  background: var(--body-bg);
  color: var(--body-color);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  text-align: center;
}

h1 {
  color: $main-color;
  font-weight: 800;
  font-size: 40px;
  line-height: 44px;
}

h2 {
  font-weight: 800;
  font-size: 32px;
  line-height: 36px;
}

a {
  text-decoration: none;
}

.blockquote {
  font-size: 18px;
}

.blockquote-footer {
  color: var(--body-text-secondary);
}

/**** POST LIST ****/

.post-list {
  background-color: #fff;
}

/**** POST CARDS ****/

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}
.icon-link > .bi {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  transition: transform 0.25s ease-in-out;
  fill: currentColor;
}
.icon-link:hover > .bi {
  transform: translate(0.25rem);
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.rounded-5 {
  border-radius: 1rem;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}

.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.text-gradient {
  background: -webkit-linear-gradient(-45deg, #05e2ff 15%, #af83ff 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.card {
  background: var(--body-card) !important;
  transition: 0.2s ease-out;
  border: none;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-title {
  text-align: left !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  font-size: 2rem;
  height: 9rem;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-search {
  background: var(--body-card) !important;
}

.bg-gradient {
  background: -webkit-linear-gradient(
    -45deg,
    #05e2ff 15%,
    #af83ff 70%
  ) !important;
}

.light-shadow {
  box-shadow: 0 16px 20px rgb(175 131 255 / 10%),
    0 16px 20px rgb(5 226 255 / 10%);
}

.cursor {
  cursor: pointer;
}

/**** AUTHOR ****/

.author__list {
  font-size: 1rem;
  line-height: 2rem;
  color: var(--body-text-secondary);

  li {
    display: flex;
    flex-direction: row;
    text-overflow: ellipsis;
  }

  i {
    font-size: 1.25rem;
    padding-top: 0.05rem;
    margin-right: 20px;
  }
}

/**** FOOTER ****/

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.5s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.img-links {
  border-radius: 50%;
  width: 42px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
