<div class="container">
  <footer
    class="
      d-flex
      flex-wrap
      justify-content-between
      align-items-center
      py-3
      my-4
      border-top
    "
  >
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">&copy; Made by coders!</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a
          class="circle-link"
          title="Pau Gallardo Linkedin"
          href="https://www.linkedin.com/in/pau-gallardo-cordon"
          target="_blank"
          rel="noopener"
        >
          <img
            class="img-links"
            src="../assets/images/user-paugallardo.png"
            alt="user Pau"
          />
        </a>
      </li>
      <li class="ms-3">
        <a
          class="circle-link"
          title="Alex Muñoz Linkedin"
          href="https://www.linkedin.com/in/alex-muñoz-fabregas/"
          target="_blank"
          rel="noopener"
        >
          <img
            class="img-links"
            src="../assets/images/user-alexmunoz.png"
            alt="user Alex"
          />
        </a>
      </li>
      <li class="ms-3">
        <a
          class="circle-link"
          title="Erasmo García Linkedin"
          href="https://www.linkedin.com/in/erasmogarciaglez/"
          target="_blank"
          rel="noopener"
        >
          <img
            class="img-links"
            src="../assets/images/user-erasmogarcia.png"
            alt="user Erasmo"
          />
        </a>
      </li>
      <li class="ms-3">
        <a
          class="circle-link"
          title="Gilberto Cao Linkedin"
          href="https://www.linkedin.com/in/gilbecao/"
          target="_blank"
          rel="noopener"
        >
          <img
            class="img-links"
            src="../assets/images/user-gilbecao.png"
            alt="user Gilbe"
          />
        </a>
      </li>
    </ul>
  </footer>
</div>
